body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#home {
  background-image: url(./WhatsApp\ Image\ 2024-12-14\ at\ 17.30.16_b825c698.jpg);
  background-position: center center;
  height: 100vh;
  background-size: cover;
}
.quote h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: "Imprima", sans-serif;
  color: #c6e7ff;
}
.quote p {
  font-family: "Timmana", sans-serif;
  font-size: 35px;
  color: #d4f6ff;
}
.quote button {
  width: 200px;
  height: 80px;
  color: #fbfbfb;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  font-weight: 800;
}
.quote button:hover {
  background-color: #ffddae;
}
.qu {
  font-size: 20px;
  font-weight: 700;
  color: #d4f6ff;
  font-family: "Imprima", sans-serif;
}
.quo {
  font-size: 20px;
  font-weight: 700;
  color: #d4f6ff;
  font-family: "Imprima", sans-serif;
}
